# ----------- temporary files

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ----------- compilation output

bin
build
target
out
logs
*.log
*.exe
*report.xml
pokenv

# ----------- workspaces

*.sublime-workspace
.idea/workspace.xml
.idea/artifacts
.idea/libraries
.idea/uiDesigner.xml
.idea/misc.xml
